venv/
media/
staticfiles/

.vscode/
*.code-workspace

node_modules/

# Sistema Operativo
.DS_Store
Thumbs.db

# Migrations
emotion/migrations/__pycache__/

# Cache
emotion/__pycache__/
mysite/__pycache__/